.editor {
    display: inline-grid;
    grid-template:
        "NW N NE" 1fr
        "W C E" 1fr
        "SW S SE" 1fr
        / 1fr 1fr 1fr;
}

.button {
    cursor: pointer;
    background: none;
    padding: 0;
    border: 0;
    color: inherit;
    height: 30px;
    width: 30px;
    margin: 0;

    & svg {
        color: inherit;
    }

    &:hover,
    &:focus {
        color: var(--colors-PrimaryBlue from global);
    }
}

.active {
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--colors-PrimaryBlue from global);
}

.highlight {
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--colors-Warn from global);
}

.northWest {
    grid-area: NW;

    & svg {
        transform: rotate(-45deg);
    }
}

.north {
    grid-area: N;
}

.northEast {
    grid-area: NE;

    & svg {
        transform: rotate(45deg);
    }
}

.west {
    grid-area: W;

    & svg {
        transform: rotate(-90deg);
    }
}

.center {
    grid-area: C;
}

.east {
    grid-area: E;

    & svg {
        transform: rotate(90deg);
    }
}

.southWest {
    grid-area: SW;

    & svg {
        transform: rotate(-135deg);
    }
}

.south {
    grid-area: S;

    & svg {
        transform: rotate(180deg);
    }
}

.southEast {
    grid-area: SE;

    & svg {
        transform: rotate(135deg);
    }
}
